<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="MyConnectionString" connectionString="Server = TAFT-CL418; Database = Ganzona; Integrated Security = false; User ID = sa; password = benilde" />
    <add name="GanzonaConnectionString" connectionString="Data Source=TAFT-CL418;Initial Catalog=Ganzona;User ID=sa;Password=benilde"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
